{% load static %}

<link rel="stylesheet" type="text/css" href={% static "css/main_format.css" %}>
<!-- Title of the page -->
<title>SmartIndo - sharing economy solution</title>
<!-- Make container for logo and navigation -->
<div class="container-fluid headerPart">
    <div class="d-flex"> <!-- Make row for flex items -->
        <div>
            <a href="{% url "account_register" %}"><img class="logoHeader" src={% static "images/logo.png" %} alt="SmartIndoSystem"></a>
        </div>
        <div class="flex-grow-1" style="padding-right: 3cm">
            <!-- Navigation bar on the header, expanding when the screen is small, justifying to right -->
            <nav class="navbar navbar-expand-sm" style="justify-content: flex-end">
            <!-- Add links to navbar -->
                <ul class="nav">
                    {% if request.user.is_authenticated %}
                        {% include "navigationLogged.html" %}
                    {% else %}
                        {% include "navigationUnlogged.html" %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
