<div style="text-align: center">
    <formTitle>SHIPMENT LIST</formTitle>
</div>

<table class="centered rowHoverStyle">
<div style="margin-left: 4cm">
    <thead>
    <tr>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>COMPANY</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>VESSEL</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>DOC</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>ODR</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>SUPPLIER</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>QTY</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>UNIT</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>SIZE</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>WEIGHT</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>IN</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>W/H</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>BY</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>BLNO</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>PORT</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>OUT</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>REMARK</columnTitle></th>
        <th style="text-align: center; background-color: lightyellow"><columnTitle>JOB NO</columnTitle></th>
{#        <th style="text-align: center; background-color: lightyellow"><columnTitle>UserID</columnTitle></th>#}
    </tr>
    </thead>

    <tbody>
    {% for info in shipmentDisplay %}
    <tr>
        <td>{{info.company}}</td>
        <td>{{info.vessel}}</td>
        <td>{{info.docs}}</td>
        <td>{{info.odr}}</td>
        <td>{{info.supplier}}</td>
        <td>{{info.quanty}}</td>
        <td>{{info.unit}}</td>
        <td>{{info.size}}</td>
        <td>{{info.weight}}</td>
        <td>{{info.in_date}}</td>
        <td>{{info.warehouse}}</td>
        <td>{{info.by}}</td>
        <td>{{info.BLno}}</td>
        <td>{{info.port}}</td>
        <td>{{info.out_date}}</td>
        <td>{{info.remark}}</td>
        <td>{{info.job_number}}</td>
{#        <td>{{userChange}}</td>#}
    </tr>
    {% endfor %}

    </tbody>
</div>

</table>

{% if shipmentDisplay.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ shipmentDisplay.previous_page_number }}">Previous</a>
{% endif %}
{{ shipmentDisplay.number }}<b>/</b>{{ shipmentDisplay.paginator.num_pages }}
{% if shipmentDisplay.has_next %}
    <a href="?page={{ shipmentDisplay.next_page_number }}">Next</a>
    <a href="?page={{ shipmentDisplay.paginator.num_pages }}">Last</a>
{% endif %}
{#{% if shipmentDisplay.has_previous %}#}
{#    <a href="{% url "account_client" %}">First</a>#}
{#    <a href="{% url "account_client" %}">Previous</a>#}
{#{% endif %}#}
{#{{ shipmentDisplay.number }}<b>/</b>{{ shipmentDisplay.paginator.num_pages }}#}
{#{% if shipmentDisplay.has_next %}#}
{#    <a href="{% url "account_client" %}">Next</a>#}
{#    <a href="{% url "account_client" %}">Last</a>#}
{#{% endif %}#}